.grid{
    display:flex;
    flex-wrap: wrap;
    height: 306px;
    width: 406px;
    text-align: center;
    
}

img{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.layout
 {
  display: grid;
  grid-template-columns: repeat(3,150px);  /* 3 columns */
  grid-template-rows: repeat(2,150px); /* 3 rows  */
  }